.card {
  width: 150px;
  height: 145px;
  margin: 10px;
  border-radius: 5px;
  background: lightblue;
  text-decoration: none;
  &:hover {
    background: hsla(254, 0%, 0%, 0.7);

  }
}

.card__image {
  height: 120px;
  width: 120px;
}

.card__title {
  position: relative;
  z-index: 1;
  bottom: 30px; 
  color: white;
}

.styling {
  background: lightblue;
}