.card {
  width: 150px;
  height: 145px;
  margin: 10px;
  border-radius: 5px;
  background: lightblue;
}

.card__image {
  height: 120px;
  width: 120px;
}

.card__title {
  position: relative;
  z-index: 1;
  bottom: 30px;
}