
.moves-container {
  display: flex;
}

.display-categories__section {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.category-list__header {
  display: flex;
  flex-direction: row;
  & button {
    width: 30%;
    height: 25px;
    border-radius: 10px;
  }
}

.move-category-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.display-moves__section {
  flex: 5;
  display: flex;
  flex-wrap: wrap;
}

.move-category-button {
  height: 25px;
  width: 100%;
  margin: 3px;
  background: hsla(254, 0%, 73%, 0.85);
  border: none;
  color: white;
  font-size: 20px;
  border-radius: 20px;
  outline: none;
  &:hover {
    background: #91D1E2;
    cursor: pointer;
  }
  &:active {
    background: red;
  }
}