

.App {
  text-align: center;
  animation: change-backgrounds 100s ease-in-out infinite;
  background-size: cover;
  height: 100vh;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.pokemon-class {
  height: 100px;
  width: 100px
}
.app-logo {
  height: 300px;
  width: 500px;
  background: url('./Images/pokemon-logo-vector.png');
  border: none;
  background-size: cover;
  background-position-y: 80%
}
@keyframes change-backgrounds {
  0% {
    background: url('./Images/app-background.jpg');
    background-size: cover;
  }
  24% {
    background: url('./Images//app-background.jpg');
    background-size: cover;
  }
  25% {
    background: url('./Images/bulbasaur-background.jpg');
    background-size: cover;
  }
  49% {
    background: url('./Images/bulbasaur-background.jpg');
    background-size: cover;
  }
  50% {
    background: url('./Images/charmander-background.jpg');
    background-size: cover;
  }
  74% {
    background: url('./Images/charmander-background.jpg');
    background-size: cover;
  }
  75% {
    background: url('./Images/squirtle-background.jpg');
    background-size: cover;
  }
  100% {
    background: url('./Images/squirtle-background.jpg');
    background-size: cover;
  }
}