.user-section {
    animation: change-backgrounds 100s ease-in-out infinite;
    padding: 10px;
    height: 100%;
}

.user-info__container {
  height: 70%;
  display: flex;
  justify-content: space-around;
}

.lineup-container {
  flex: 1;
  height: 100%;
}

.pokedex-container {
  flex: 1;
  height: 100%;
}

.user-section {
  height: 80%;
}

.user-form__input {
  margin-right: 10px;
  width: 200px;
  height: 20px;
  border-radius: 5px;
}

.user-select__input {
  height: 25px;
  margin-right: 10px;
}

.user-submit-btn {
  height: 25px;
  border-radius: 5px;
}

.welcome-title {
  margin-top: 0;
}

@keyframes change-backgrounds {
  0% {
    background: url('../../Images/app-background.jpg');
    background-size: cover;
  }
  23% {
    background: url('../../Images/app-background.jpg');
    background-size: cover;
  }
  25% {
    background: url('../../Images/bulbasaur-background.jpg');
    background-size: cover;
  }
  48% {
    background: url('../../Images/bulbasaur-background.jpg');
    background-size: cover;
  }
  50% {
    background: url('../../Images/charmander-background.jpg');
    background-size: cover;
  }
  73% {
    background: url('../../Images/charmander-background.jpg');
    background-size: cover;
  }
  75% {
    background: url('../../Images/squirtle-background.jpg');
    background-size: cover;
  }
  100% {
    background: url('../../Images/squirtle-background.jpg');
    background-size: cover;
  }
}