.user-info__container {
  height: 100%;
  display: flex;
  justify-content: space-around;
}

.lineup-container {
  flex: 1;
  height: 100%;
}

.pokedex-container {
  flex: 1;
  height: 100%;
}

.user-section {
  height: 100%;
}

.user-form__input {
  margin-right: 10px;
  width: 200px;
  height: 20px;
  border-radius: 5px;
}

.user-select__input {
  height: 25px;
  margin-right: 10px;
}

.user-submit-btn {
  height: 25px;
  border-radius: 5px;
}